</div>     
        <footer class="fixed-footer">
            <div class="container">
                <div class="text-center footer-icon">
                    <a href ="https://github.com/nancyyu17"><span><i class="fab fa-github-square fa-2x"></i></span></a>
                    <a href="https://www.linkedin.com/in/yyu17/"><span><i class="fab fa-linkedin fa-2x"></i></span></a>
                    <br>
                    <p class="copyright">&copy; 2020 Nancy Yu</p>
                </div>
                
            </div>
        </footer>
    </body>
</html>