<%- include("./partials/header") %>

<div class = "container afternav text-center" id="notfound">
    <h1>404</h1> <br>
    <h4>Oops! You're lost.</h4>
    <h6>The page you are looking for does not exist. <br>How you got here is a mystry.<br> But you can click the button below to go back to the homepage</h6>
    <button type="button" class="btn btn-light btn-lg"><a href="/blogposts">Home</a></button>
</div>

<%- include("./partials/footer") %>